# =========================================
# 1. Các file nhật ký (Log & Journal)
# =========================================
*.jou
*.log
*.str

# =========================================
# 2. Các thư mục rác và file tạm của Vivado
# =========================================
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.tmp/

# =========================================
# 3. Các file nhị phân dung lượng lớn (Tuyệt đối không push)
# =========================================
*.dcp
*.bit
*.xsa
*.mcs
*.pdi

# =========================================
# 4. Các file mô phỏng và Debug
# =========================================
*.pb
*.wdb
*.wcfg

# =========================================
# 5. File Project và Block Design rác
# (Vì chúng ta đã dùng lệnh Tcl để khôi phục)
# =========================================
*.xpr
*.bxml

# =========================================
# 6. Các file biên dịch phần mềm (cho thư mục codeC)
# =========================================
*.o
*.elf
*.bin
.vitis/

# =========================================
# 7. File rác của Hệ điều hành
# =========================================
.DS_Store
Thumbs.db